{% extends 'b2csv_base.html' %}
{% block content %}
    <h1>{{titulo}}</h1>
    <hr>
    {% if message %}
        <h1>{{message}}</h1>
    {% elif count %}
        <h1>Se lograron Cargar {{ count }} Elementos.</h1>
    {% else %}
        <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Archivo CSV: </label>
                <div class="col-md-8">
                    <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                </div>                    
            </div>
            <div class="form-group">                    
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                    <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Cargar</button>
                </div> 
            </div>
        </form>
    {% endif %}
{% endblock %}